<div>

    <toaster-container toaster-options="{'close-button':true,
                       'showEasing': 'swing',
                             'hideEasing': 'linear',
                                'showMethod': 'fadeIn',
                                 'hideMethod': 'fadeOut',
                       'time-out':{ 'toast-warning': 2000, 'toast-error': 0 } }"></toaster-container>

    <script type="text/ng-template" id="myTemplateWithData.html">
        <p> {{toaster.data}}</p>
    </script>
</div>



